<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .container img { width: 100%; }
      #download { float: right; }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="download">
        <a class="btn btn-small" href="{{page.tune}}.abc">abc</a>
        <a class="btn btn-small" href="{{page.tune}}.pdf">pdf</a>
      </div> 
    </div>
    <div class="container">
      <div id="notation" class="content">
{{content}}
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
