<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="alternate" type="application/pdf" href="{{page.tune}}.pdf"
        title="{{page.title}} (PDF)" />
    <link rel="alternate" type="text/vnd.abc" href="{{page.tune}}.abc"
        title="{{page.title}} (ABC Notation)" />
    <style>
      .container img { width: 100%; }
      #download { float: right; }
      #share { float: right; padding-top: 7px; }
    </style>
  </head>
  <body>
    <div class="container">
      <ul id="download" class="nav nav-pills">
        <li class="disabled"><a href="#">Download:</a></li>
        <li><a href="{{page.tune}}.abc">abc</a></li>
        <li><a href="{{page.tune}}.pdf">pdf</a></li>
      </ul>
      <ul id="share" class="nav">
        <li><a id="shareNice" share-label="Share"></a></li>
      </ul>
      <ul class="nav nav-pills">
        <li><a href="./">Contents</a></li>
      </ul>
    </div>
    <div class="container">
      <div id="notation" class="content">
{{content}}
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/share.js"></script>
    <script>
      $(document).ready(function () {
        var notes = $("#notes");
        if (notes.text().length > 1) {
          notes
            .prepend("<b>Note:</b> ")
            .addClass("alert")
            .addClass("alert-info")
        } 
      });
    </script>
  </body>
</html>
